@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;
}

.main-container {
    height: 100vh;
    width: 100%;
    overflow: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.main-container.active {
    overflow: hidden;
}

a {
    text-decoration: none;
}

.back-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #FF9D2E;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    cursor: pointer;
    color: #fff;
    box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.2);

    &:hover {
        background-color: #000;
    }
}

.back-btn ion-icon {
    --ionicon-stroke-width: 152px
}

.back-btn.active {
    visibility: visible;
    opacity: 1;
}

.navbar {
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid hsla(23, 61%, 86%, 0.2);
    padding-inline: 50px;
}

.navbar h1 {
    color: #fff;
    font-size: 28px;
    font-family: 'Rubik';
}

.navbar h1 span {
    color: #FF9D2E;
}

.navbar .content {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style-type: none;
}

.navbar ul li {
    font-family: 'Rubik';
    font-size: 15px;
}

.navbar ul li a {
    color: #F1D6C6;
    font-weight: 500;

    &:hover {
        color: #FF8D29;
    }
}

.navbar ul li.active a,
.navbar.active ul li.active a {
    color: #FF9D2E;
}

.navbar p ion-icon {
    font-size: 22px;
    color: #F1D6C6;
    --ionicon-stroke-width: 54px;
    cursor: pointer;
}

.navbar.active p ion-icon {
    color: #000;
}

.navbar a button {
    font-size: 15px;
    height: 43px;
    width: max-content;
    padding-inline: 30px;
}

.navbar.active {
    background: #fff;
    position: fixed;
    top: -86px;
    box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.2);
    animation: slideIn 0.5s ease-out forwards;
}

.navbar.active h1 {
    color: #000;
}

.navbar.active ul li a {
    color: #000;

    &:hover {
        color: #FF8D29;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100%);
    }
}

.hero {
    height: 130vh;
    background-image: url(../Images/hero-bg.jpg);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.hero .shape {
    position: absolute;
    bottom: 0;
    right: 0;
}

.hero .burger {
    position: absolute;
    top: 200px;
    right: 50px;
    z-index: 100;
}

.hero .content {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline-start: 50px;
}

.hero .content h2 {
    font-size: 28px;
    color: #FF8D29;
    font-family: 'Rubik';
}

.hero .content h1 {
    font-size: 60px;
    padding-block: 30px;
    color: #F1D6C6;
    font-family: 'Rubik';
}

.hero .content p {
    font-size: 20px;
    color: #E8CCBB;
    font-family: 'Roboto';
    margin-bottom: 50px;
}

.hero .content button {
    height: 50px;
    width: 150px;
    border: none;
    font-size: 14px;
    background-color: #FF9D2E;
    color: #FFFFFF;
    font-weight: 600;
    font-family: 'Rubik';
    transition: 0.25s ease;

    &:hover {
        background-color: #FFFFFF;
        color: #000000;
    }
}

.menu-section {
    background-color: #F9F6F0;
    padding-block: 70px;
    padding-inline: 40px;
}

.menu-section .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.menu-section .container .card {
    padding: 50px;
    max-width: calc(100% / 4);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 1;
    transition: 0.25s ease;
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.2);

    &:hover {
        color: #fff;
    }
}

.menu-section .container .card h2 {
    font-family: 'Rubik';
    font-size: 22px;
}

.menu-section .container .card p {
    font-family: 'Roboto';
    font-size: 16px;
    text-align: center;
    color: #787878;
}

.menu-section .container .card .promo {
    margin-top: 20px;
}

.menu-section .container .card::after {
    content: "";
    background-color: #FF9D2E;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    clip-path: polygon(0 83%, 100% 65%, 100% 100%, 0% 100%);
    transition: 0.25s ease;
}

.menu-section .container .card:hover::after {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu-section .container .card:hover .promo-icon path {
    fill: #fff;
}

.menu-section .container .card:hover p {
    color: #fff;
}

.about-section {
    padding-block: 70px;
    padding-inline: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-section .section {
    width: 50%;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.about-section .section .banner {
    position: absolute;
    top: 0px;
    animation: scale-up 4s ease infinite;
}

@keyframes scale-up {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.1;
    }

    100% {
        scale: 1;
    }
}

.about-section .section h1 {
    font-size: 40px;
    font-family: 'Rubik';
}

.about-section .section h1 span {
    color: #FF9D2E;
}

.about-section .section p {
    font-size: 16px;
    font-family: 'Roboto';
    line-height: 1.5;
    color: #787878;
}

.about-section .section ul {
    list-style-type: none;
}

.about-section .section ul li {
    display: flex;
    align-content: center;
    margin-top: 10px;
    font-family: 'Rubik';
    font-size: 18px;
    font-weight: 600;
}

.about-section .section ul li ion-icon {
    margin-right: 10px;
    font-size: x-large;
    color: #FF8D29;
    font-weight: bold;
    --ionicon-stroke-width: 16px;
}

.hover-button {
    height: 50px;
    width: 150px;
    border: none;
    font-size: 14px;
    background-color: #FF9D2E;
    color: #FFFFFF;
    font-weight: 600;
    font-family: 'Rubik';
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.hover-button::after {
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    background-color: #000;
    bottom: 0;
    left: 15px;
    border-radius: 50%;
    transform: translateY(20px);
    z-index: -1;
    transition: all 0.3s ease;
}

.hover-button:hover::after {
    transform: translateY(0px) scale(30);
}

.about-section-2 {
    padding-inline: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../Images/hero-bg.jpg);
}

.about-section-2 .section {
    width: 50%;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
}

.about-section-2 .section .burger {
    margin-top: 100px;
}

.about-section-2 .section .banner {
    position: absolute;
    top: 70px;
    animation: scale-up 4s ease infinite;
}

.about-section-2 .section h1 {
    font-size: 40px;
    font-family: 'Rubik';
    color: #fff;
}

.about-section-2 .section h1 span {
    color: #FF9D2E;
}

.about-section-2 .section p {
    font-size: 16px;
    font-family: 'Roboto';
    line-height: 1.5;
    color: #DEDEDE;
}

.delivery-section {
    padding-block: 70px;
    padding-inline: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delivery-section .bg-section {
    background-image: url(../Images/delivery-banner-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.delivery-section .section {
    width: 50%;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
}

.delivery-section .section h1 {
    font-size: 40px;
    font-family: 'Rubik';
}

.delivery-section .section h1 span {
    color: #FF9D2E;
}

.delivery-section .section p {
    font-size: 16px;
    font-family: 'Roboto';
    line-height: 1.5;
    color: #787878;
}

.testimonial {
    padding-block: 70px;
    padding-inline: 30px;
    background-color: #F9F6F0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.testimonial p:first-child {
    color: #F42F25;
    font-size: 16px;
    font-family: 'Rubik';
}

.testimonial h1 {
    font-family: 'Rubik';
    font-size: 40px;
}

.testimonial h1 span {
    color: #FF9D2E;
}

.testimonial .desc {
    font-family: 'Roboto';
    font-size: 16px;
    color: #787878;
    width: 35%;
    text-align: center;
}

.card-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}

.card-container .card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.card-container .card .profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.card-container .card .profile img {
    border-radius: 50%;
}

.card-container h2 {
    font-family: 'Rubik';
    font-size: 20px;
}

.card-container p {
    color: #787878;
    font-family: 'Roboto';
    font-size: 16px;
}

.card-container .card .rating {
    color: #FF9D2E;
    font-size: 18px;
}

.banner-section {
    padding-block: 70px;
    padding-inline: 40px;
}

.banner-container {
    color: #fff;
}

.banner-list {
    list-style-type: none;
    display: grid;
    gap: 10px;
}

.banner-lg {
    height: 430px;
}

.banner-sm {
    height: 200px;
}

.banner-md {
    height: 240px;
}

.banner-card {
    position: relative;
    height: 100%;
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.2);
    overflow: hidden;
}

.banner-card .banner-img {
    background-color: hsl(0, 0%, 87%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: 0.5s ease;
}

.banner-card:hover .banner-img {
    transform: scale(1.05);
}

.banner-item-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    right: 20px;
    max-height: calc(100% - 30px);
}

.banner-md .banner-item-content {
    left: 55%;
}

.banner-subtitle,
.banner-title {
    font-family: 'Rubik';
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.5px;
}

.banner-lg .banner-subtitle {
    font-size: 2.2rem;
    margin-block-end: 10px;
}

.banner-lg .banner-title {
    font-size: 32px;
    max-width: 16ch;
}

:is(.banner-md, .banner-sm) .banner-title {
    font-size: 2em;
    max-width: 10ch;
}

.banner-card .banner-text {
    font-family: 'Roboto';
    margin-block: 10px 15px;
    font-size: 16px;
}

.banner-card .btn {
    background-color: hsl(28, 100%, 58%);
    height: 40px;
    padding-inline: 25px;
}

.banner-card .btn:is(:hover, :focus) {
    background-color: #000;
}

.container-2 {
    padding-inline: 15px;
}

.banner-list {
    grid-template-columns: repeat(4, 1fr);
}

.banner-lg {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.banner-md {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    height: 220px;
}

.footer {
    display: flex;
    flex-direction: column;
}

.footer-top {
    padding-block: 120px;
    padding-inline: 30px;
    display: flex;
    gap: 30px;
    background-image: url(../Images/footer-illustration.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    border-block: 2px solid #787878;
    position: relative;
    overflow: hidden;
}

.footer-top img {
    position: absolute;
    bottom: -4px;
    left: -160px;
    animation: moving-delivery 20s linear infinite;
}

@keyframes moving-delivery {
    0% {
        left: -160px;
    }

    100% {
        left: 100%;
    }
}

.footer-top .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 25%;
}

.footer-top .container h1 {
    font-family: 'Rubik';
    font-size: 32px;
}

.footer-top .container h1 span {
    color: #FF9D2E;
}

.footer-top .container p {
    font-size: 16px;
    font-family: 'Roboto';
    color: #787878;
}

.footer-top .container h3 {
    font-family: 'Rubik';
    font-size: 18px;
    position: relative;
    width: max-content;
}

.footer-top .container h3::before {
    content: '';
    position: absolute;
    right: -50px;
    top: 8px;
    height: 4px;
    width: 40px;
    background-color: #FF9D2E;
}

.footer-top .container h3::after {
    content: '';
    position: absolute;
    right: -65px;
    top: 8px;
    height: 4px;
    width: 10px;
    background-color: #FF9D2E;
}

.footer-top .container a {
    font-family: 'Roboto';
    color: #787878;
    font-size: 16px;
}

.footer-top .container ul {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style-type: none;
}

.footer-top .container ul li {
    height: 35px;
    width: 35px;
    background: #FF9D2E;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s ease;

    &:hover {
        background-color: #000;
    }
}

.footer-top .container ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-top .container p {
    line-height: 1.5;
}

.footer-top .container:last-child {
    width: 450px;
}

.footer-top .container form {
    border: 2px solid;
    padding: 30px;
}

.footer-top .container form input {
    width: 50%;
}

.footer-bottom {
    padding-block: 20px;
    font-size: 16px;
    font-family: 'Roboto';
    color: #787878;
    ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box {
    height: 100vh;
    width: 100%;
    background-color: #000000f2;
    position: absolute;
    top: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 2000;
    transition: all 0.5s ease;
}

.search-box button{
    background: transparent;
    border: none;
}

.search-box button ion-icon{
    color: #fff;
    font-size: 32px;
}

.search-box input {
    height: 70px;
    width: 50%;
    background-color: transparent;
    border: none;
    padding-inline: 20px;
    font-size: 26px;
    color: #787878;
}

.search-box.active {
    top: 0;
}

.navbar .content-2{
    width: calc(100% - 30px);
    position: absolute;
    background: #fff;
    height: 0;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.25s ease;
    visibility: hidden;
    overflow: hidden;
    padding-block: 20px;
    padding-inline: 20px;
    box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.2);
}

.navbar .content-2.active{
    height: 236px;
    visibility: visible;
}

.navbar .content-2 ul{
    flex-direction: column;
    align-items: normal;
    gap: 20px;
}

.navbar .content-2 ul li a{
    color: #000;
    padding-inline: 10px;
    &:hover{
        color: #FF9D2E;
    }
}

.navbar .content-2 ul li.active a{
    color: #FF9D2E;
}

.navbar .content-2 ul li{
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.04);;
    padding-block-end: 20px;
}

.navbar .content-2 ul li:last-child{
    border: none;
}

.open{
    display: none;
    gap: 4px;
    cursor: pointer;
    background: none;
    border: none;
}

.open .line-top{
    height: 3px;
    width: 10px;
    border-radius: 5px;
    background-color: #F1D6C6;
    transition: all 0.25s ease;
}

.open .line-middle{
    height: 3px;
    width: 20px;
    border-radius: 5px;
    background-color: #F1D6C6;
    transition: all 0.25s ease;
}

.open .line-bottom{
    height: 3px;
    width: 10px;
    border-radius: 5px;
    background-color: #F1D6C6;
    margin-left: auto;
    transition: all 0.25s ease;
}

.open.active .line-top{

    transform: translate(1px,3px) rotate(45deg);
}

.open.active .line-middle{

    transform: rotate(-45deg);
}

.open.active .line-bottom{
    transform: translate(-1px,-3px) rotate(45deg);
}

.navbar.active .open .line{
    background: #000;
}